.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/bg-triangle.svg") no-repeat;
    background-position: center;
}
