.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/bg-triangle.svg") no-repeat;
    background-position: center;
}

.button {
    margin: 10px 40px;
    cursor: pointer;
    border: 0;
    background: transparent;
}
